*.log
*.swp
*.back
*.bak
*.sql
*.sql.gz
~*

.htaccess
.maintenance
wp-config.php
sitemap.xml
sitemap.xml.gz
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/wp-cache-config.php
wp-content/db.php
wp-admin/
wp-includes/
/index.php
/license.txt
/readme.html
# de_DE
/liesmich.html
# it_IT
/LEGGIMI.txt
/licenza.html
# da_DK
/licens.html
# es_ES, es_PE
/licencia.txt
# hu_HU
/licenc.txt
/olvasdel.html
# sk_SK
/licencia-sk_SK.txt
# sv_SE
/licens-sv_SE.txt
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
wp-content/plugins/revisr/uninstall.php
wp-content/plugins/revisr/templates/partials/revert-form.php
wp-content/plugins/revisr/templates/partials/push-form.php
wp-content/plugins/revisr/templates/partials/pull-form.php
wp-content/plugins/revisr/templates/partials/merge-branch-form.php
wp-content/plugins/revisr/templates/partials/index.php
wp-content/plugins/revisr/templates/partials/import-tables-form.php
wp-content/plugins/revisr/templates/partials/discard-form.php
wp-content/plugins/revisr/templates/partials/delete-branch-form.php
wp-content/plugins/revisr/templates/partials/checkout-remote-form.php
wp-content/plugins/revisr/templates/pages/view-commit.php
wp-content/plugins/revisr/templates/pages/setup.php
wp-content/plugins/revisr/templates/pages/settings.php
wp-content/plugins/revisr/templates/pages/repositories.php
wp-content/plugins/revisr/templates/pages/new-commit.php
wp-content/plugins/revisr/templates/pages/index.php
wp-content/plugins/revisr/templates/pages/help.php
wp-content/plugins/revisr/templates/pages/dashboard.php
wp-content/plugins/revisr/templates/pages/commits.php
wp-content/plugins/revisr/templates/pages/branches.php
wp-content/plugins/revisr/templates/index.php
wp-content/plugins/revisr/revisr.php
wp-content/plugins/revisr/readme.txt
wp-content/plugins/revisr/README.md
wp-content/plugins/revisr/LICENSE.txt
wp-content/plugins/revisr/languages/revisr.pot
wp-content/plugins/revisr/languages/index.php
wp-content/plugins/revisr/index.php
wp-content/plugins/revisr/classes/index.php
wp-content/plugins/revisr/classes/class-revisr-settings.php
wp-content/plugins/revisr/classes/class-revisr-settings-fields.php
wp-content/plugins/revisr/classes/class-revisr-repositories-table.php
wp-content/plugins/revisr/classes/class-revisr-remote.php
wp-content/plugins/revisr/classes/class-revisr-process.php
wp-content/plugins/revisr/classes/class-revisr-meta-boxes.php
wp-content/plugins/revisr/classes/class-revisr-i18n.php
wp-content/plugins/revisr/classes/class-revisr-git.php
wp-content/plugins/revisr/classes/class-revisr-git-callback.php
wp-content/plugins/revisr/classes/class-revisr-db.php
wp-content/plugins/revisr/classes/class-revisr-db-import.php
wp-content/plugins/revisr/classes/class-revisr-db-backup.php
wp-content/plugins/revisr/classes/class-revisr-cron.php
wp-content/plugins/revisr/classes/class-revisr-compatibility.php
wp-content/plugins/revisr/classes/class-revisr-commits-table.php
wp-content/plugins/revisr/classes/class-revisr-branch-table.php
wp-content/plugins/revisr/classes/class-revisr-admin.php
wp-content/plugins/revisr/classes/class-revisr-admin-pages.php
wp-content/plugins/revisr/classes/class-revisr-activity-table.php
wp-content/plugins/revisr/assets/lib/select2/js/select2.min.js
wp-content/plugins/revisr/assets/lib/select2/js/select2.js
wp-content/plugins/revisr/assets/lib/select2/js/select2.full.min.js
wp-content/plugins/revisr/assets/lib/select2/js/select2.full.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/zh-TW.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/zh-CN.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/vi.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/uk.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/tr.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/th.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/sv.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/sr.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/sk.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/ru.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/ro.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/pt.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/pt-BR.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/pl.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/nl.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/nb.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/mk.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/lv.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/lt.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/ko.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/it.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/is.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/id.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/hu.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/hr.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/hi.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/he.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/gl.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/fr.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/fi.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/fa.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/eu.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/et.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/es.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/en.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/de.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/da.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/cs.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/ca.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/bg.js
wp-content/plugins/revisr/assets/lib/select2/js/i18n/az.js
wp-content/plugins/revisr/assets/lib/select2/css/select2.min.css
wp-content/plugins/revisr/assets/lib/select2/css/select2.css
wp-content/plugins/revisr/assets/lib/octicons/sprockets-octicons.scss
wp-content/plugins/revisr/assets/lib/octicons/README.md
wp-content/plugins/revisr/assets/lib/octicons/octicons.woff
wp-content/plugins/revisr/assets/lib/octicons/octicons.ttf
wp-content/plugins/revisr/assets/lib/octicons/octicons.svg
wp-content/plugins/revisr/assets/lib/octicons/octicons.less
wp-content/plugins/revisr/assets/lib/octicons/octicons.eot
wp-content/plugins/revisr/assets/lib/octicons/octicons.css
wp-content/plugins/revisr/assets/lib/octicons/octicons-local.ttf
wp-content/plugins/revisr/assets/lib/octicons/LICENSE.txt
wp-content/plugins/revisr/assets/js/revisr-staging.js
wp-content/plugins/revisr/assets/js/revisr-setup.js
wp-content/plugins/revisr/assets/js/revisr-settings.js
wp-content/plugins/revisr/assets/js/revisr-dashboard.js
wp-content/plugins/revisr/assets/index.php
wp-content/plugins/revisr/assets/img/site5.png
wp-content/plugins/revisr/assets/img/loader.gif
wp-content/plugins/revisr/assets/css/thickbox.css
wp-content/plugins/revisr/assets/css/revisr-admin.css
wp-content/plugins/gitium/readme.txt